In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [5]:
spark=SparkSession.builder.appName('Day2').getOrCreate()

In [6]:
data = [
    ("Alice", "HR", 3000),
    ("Bob", "IT", 4500),
    ("Charlie", "IT", 5000),
    ("David", "HR", 4000),
    ("Eva", "Finance", 6000)
]
df=spark.createDataFrame(data,['name','dept','salary'])
df.show()

+-------+-------+------+
|   name|   dept|salary|
+-------+-------+------+
|  Alice|     HR|  3000|
|    Bob|     IT|  4500|
|Charlie|     IT|  5000|
|  David|     HR|  4000|
|    Eva|Finance|  6000|
+-------+-------+------+

In [7]:
df.select('name','salary').show()

+-------+------+
|   name|salary|
+-------+------+
|  Alice|  3000|
|    Bob|  4500|
|Charlie|  5000|
|  David|  4000|
|    Eva|  6000|
+-------+------+

In [8]:
df.filter(df['salary']>3000).show()

+-------+-------+------+
|   name|   dept|salary|
+-------+-------+------+
|    Bob|     IT|  4500|
|Charlie|     IT|  5000|
|  David|     HR|  4000|
|    Eva|Finance|  6000|
+-------+-------+------+

In [10]:
df.filter((df['dept']=='HR') & (df['salary']<4000)).show()

+-----+----+------+
| name|dept|salary|
+-----+----+------+
|Alice|  HR|  3000|
+-----+----+------+

In [12]:
print(df.count())

5

In [13]:
print(f"HR Department: {df.filter(df['dept']=='HR').count()}")

HR Department: 2

In [14]:
df.groupBy('dept').agg({'salary':'avg'}).show()

+-------+-----------+
|   dept|avg(salary)|
+-------+-----------+
|     HR|     3500.0|
|     IT|     4750.0|
|Finance|     6000.0|
+-------+-----------+

In [16]:
df.filter(df['salary']>4000).show()

+-------+-------+------+
|   name|   dept|salary|
+-------+-------+------+
|    Bob|     IT|  4500|
|Charlie|     IT|  5000|
|    Eva|Finance|  6000|
+-------+-------+------+

In [17]:
df.groupBy('dept').agg({'salary':'avg'}).show()

+-------+-----------+
|   dept|avg(salary)|
+-------+-----------+
|     HR|     3500.0|
|     IT|     4750.0|
|Finance|     6000.0|
+-------+-----------+